

html {
    
    body {
        
        .no-padding {
            padding: 0;
        }
        
        .bar-bottom-fixed {
            position: fixed;
            bottom: 0;
            left: 0;
            right: 0;
            background: #fff;
        }
        
        .list-item__subtitle {
            &.money {
                font-family: monospace;
                font-size: 22px;
                background: #efefef70;
                line-height: 50px;
                color: #31313a;
                padding: 2px;
                text-align: center;
                border-radius: 0 50px 50px 0;
                opacity: 1;

                &.debit {
                    background: rgba(216, 255, 226, 0.4392156862745098);
                    color: #4c8c54;
                }
                
                &.credit {
                    background: rgba(255, 234, 234, 0.4392156862745098);
                    color: #a76262;
                }
            }
            
            .p-on-lis {
                margin: 2px 0;
            }
        }
        
        ons-search-input.on-top-page {
            display: block;
            .search-input {
                display: block;
                margin: 2.5%;
                width: 95%;
                
                &.search-input--material{
                    border-radius: 0;
                    box-shadow: none;
                    margin: 0;
                    width: 100%;
                }
            }
        }
        
        ons-splitter-side {
            &#sidemenu {
                width: 85%;
                background: white;
                
                .sidemenu-header {
                    position: relative;
                    height: 170px;
                    background: #fdfdfd;
                    overflow: hidden;
                    
                    .profile-pic {
                        position: absolute;
                        width: 100px;
                        height: 100px;
                        background: transparent;
                        top: -0;
                        bottom: 0;
                        left: 0;
                        right: 0;
                        border: 1px solid #ddd;
                        border-radius: 150px;
                        margin: auto;
                        overflow: hidden;

                        img {
                            position: absolute;
                            top: -100px;
                            bottom: -100px;
                            left: -100px;
                            right: -100px;
                            margin: auto;
                            max-width: 150px;
                            max-height: 150px;
                        }
                    }
                }
                
            }
        }
        
        text-small, .text-small {
            font-size: 11px;
        }
        
        .box-date {
            background: #fff;
            padding-bottom: 25px;
        }
        
        .datetime-range .presets .dots .dot {
            width: 25px;
            height: 10px;
        }
        
        .datetime-range .end-datetime .date, .datetime-range .start-datetime .date {
            font-size: 1.2em;
            line-height: 2.5em;
        }
        
        .datetime-range .end-datetime .time, .datetime-range .start-datetime .time {
            display: none;
        }
        
        .datetime-range .timer {
            display: none;
        }
        
        img {
            &.img_detail_list {
                width: 20px;
                height: 20px;
                border-radius: 100%;
                vertical-align: middle;
                margin-right: 5px;
            }
        }
        
        .login-page-logo {
            text-align: center;
            padding: 10px;
            background: #fff;
            img {
                max-width: 90%;
            }
        }
        
        .global-loading {
            .alert-dialog-title--material {
                text-align: center;
            }
            .alert-dialog-content--material {
                text-align: center;
            }
        }
        
        .page__content { height: auto !important; max-height: 100%; }
        
        .login-page {
            .page--material, .page--material__background {
                background-color: #00589e; 
            }
        }
    }
}
