<ui-view>
    <ons-splitter var="mySplitter" id="mySplitter">
        <ons-splitter-side id="sidemenu" swipeable side="right" collapse>
            <ng-include src=" 'partials/sidemenu.html?UNIQID='+$root.MY_MATH_RANDOM "></ng-include>
        </ons-splitter-side>
        <ons-splitter-content>
            <ons-page>
                <ons-toolbar>
                    <div class="center">{{title}}</div>
                    <div class="right">
                        <ons-toolbar-button ng-click="mySplitter.right.open();">
                            <ons-icon icon="ion-navicon, material:md-menu"></ons-icon>
                        </ons-toolbar-button>
                    </div>
                </ons-toolbar>
                <section style="padding: 8px">
                    <div style=" padding: 1px 0 0 0;">
                        <div class="card" style="background: #f5f5f5;">
                          <h2 class="card__title">KUESIONER</h2>
                          <h5>INDIKATOR KEBERHASILAN PEMBIAYAAN PNM MEKAAR </h5>
                          <div class="card__content">
                                Dalam kuesioner ini terdapat tujuan dan indikator keberhasilan dalam setiap pertanyaan atau tabel pengisian yang diajukan oleh AO kepada Nasabah PNM Mekaar selama megikuti pembiayaan Mekaar dengan tujuan untuk mengetahui apakah ada peningkatan kesejahteraan (baik perubahan hidup dan peningkatan kesehatan Nasabah). Data kuesioner ini akan dirahasiakan. Atas bantuan dan kerjasamanya, terima kasih. 
                                <br><br>
                                <b>Syarat & Ketentuan</b>
                                <br>
                                <ul>
                                    <li>Dilakukan di 458 cabang yang sudah ditentukan (Data Excel terlampir)</li>
                                    <li>Dilakukan terhadap nasabah siklus 1, siklus lanjutan lebih dari 2 tahun bergabung dan nasabah mekaar plus, termasuk 645 nasabah yang pernah disurvey pada tahun 2018 (data Excel terlampir)</li>
                                    <li>Masing-masing cabang melakukan survey kepada 8 nasabah (2 S1, 3 SL, 3 MP), Jika di cabang tidak terdapat nasabah MP maka kuota nasabah MP dapat dialihkan ke nasabah SL (2 S1, 6 SL)</li>
                                </ul>
                              <ons-button modifier="large" ui-sref="createsurvey">Buat</ons-button>
                          </div>
                        </div>
                    </div>
                    <div style=" padding: 1px 0 0 0;">
                        <div class="card" style="background: #f5f5f5;">
                          <h5 class="card__title">SURVEY KEPEMILIKAN HANDPHONE NASABAH</h5>
                          <div class="card__content">
                              Update info nomor handphone nasabah disini
                              <br><br>
                              <b>Syarat & Ketentuan</b>
                            <br>
                              <ul>
                                  <li>Dilakukan di semua cabang</li>
                                  <li>Dilakukan di semua kelompok masing-masing cabang</li>
                                  <li>Masing-masing kelompok di wakilkan oleh 2 nasabah (tidak boleh lebih atau kurang)</li>
                                  <li>Nasabah yang disurvey boleh memiliki/tidak memiliki HP</li>
                              </ul>
                              <ons-button modifier="large" ui-sref="updatedatanasabah">Update</ons-button>
                          </div>
                        </div>
                    </div>
                    <div style=" padding: 1px 0 0 0;">
                        <div class="card" style="background: #f5f5f5;">
                          <h2 class="card__title">KUESIONER</h2>
                          <h5>KONDISI KANTOR CABANG PNM MEKAAR </h5>
                          <div class="card__content">
                                Maksud dan tujuan kuesioner ini adalah ingin mengetahui pengalaman rekan-rekan selama berada dikantor cabang PNM Mekaar.
                                <br><br>
                                <b>Syarat & Ketentuan</b>
                                <br>
                                <ul>
                                    <li>Dilakukan di semua region</li>
                                    <li>Survey hanya dilakukan terhadap 30 karyawan dari 3 cabang per region yang terdiri dari KC, SAO, FAO dan AO, dimana masing-masing cabang diperlukan data 10 karyawan.</li>
                                    <!--<li>Kondisi kantor cabang yang di pilih mewakili kondisi kantor cabang secara keseluruhan</li>-->
                                    <li>Survey hanya dilakukan di cabang-cabang yg sudah ditentukan (data terlampir), ditujukan kepada seluruh karyawan kantor cabang yaitu KC, SAO, FAO, AO.</li>
                                    <li style=" padding: 5px;background: #fff46e;">
                                        Cabang <b>wajib</b> melampirkan foto halaman depan, ruang meeting, ruang FAO, kamar tidur, dapur, kamar mandi, ruang parkir dan halaman belakang dalam bentuk RAR yang dikirimkan oleh FAO dengan format File : Region_Cabang XXX dan dikirimkan ke email : <b>survey.cabangmekaar.pnmriset@gmail.com</b>
                                    </li>
                                </ul>
                              <ons-button modifier="large" ui-sref="prakondisikantorcreatesurvey">Buat</ons-button>
                          </div>
                        </div>
                    </div>
                     
                    
                </section>
            </ons-page>
        </ons-splitter-content>
    </ons-splitter>
</ui-view>