<ui-view>
    <ons-splitter var="mySplitter" id="mySplitter">
        <ons-splitter-side id="sidemenu" swipeable side="right" collapse>
            <ng-include src=" 'partials/sidemenu.html'+$root.MY_MATH_RANDOM "></ng-include>
        </ons-splitter-side>
        <ons-splitter-content>
            <ons-page>
                <ons-toolbar>
                    <div class="center">{{title}}</div>
                    <div class="right">
                        <ons-toolbar-button ng-click="mySplitter.right.open();">
                            <ons-icon icon="ion-navicon, material:md-menu"></ons-icon>
                        </ons-toolbar-button>
                    </div>
                </ons-toolbar>
                <section style="padding: 8px">
                    <div style="height: 200px; padding: 1px 0 0 0;">
                        <div class="card" style="background: #f5f5f5;">
                          
                          <p>Unduh rekap survey dengan menekan tombol dibawah.</p>
                          <div class="card__content">
                              <a modifier="large" class="button--cta" href="{{$root.API_BASE}}Survey/Rekap" target="_blank" download>Unduh</a>
                          </div>
                        </div>
                    </div>
                </section>
            </ons-page>
        </ons-splitter-content>
    </ons-splitter>
</ui-view>